:root {
  --green: #fbfff7;
  --bgreen: #55821c;
  --pink: #fea098;
  --orange: #ffb078;
  --text-color: #fff;

  --big-font: 4.5rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}
body {
  background-color: var(--green);
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 30px 14%;
  transition: all 0.5s ease;
}

.logo {
  display: flex;
  align-items: center;
}

.navlist {
  display: flex;
}

.navlist a {
  color: black;
  font-size: var(--p-font);
  font-weight: 600;
  margin: 0 30px;
  transition: all 0.5s ease;
}

.navlist a:hover {
  color: var(--bgreen);
}

.navlist a.active {
  color: var(--bgreen);
}

.nav-icons {
  display: flex;
  align-items: center;
  padding: 8px 15px;

  border-radius: 3rem;
}

.nav-icons i {
  vertical-align: middle;
  font-size: 25px;
  color: white;
  margin-left: 5px;
  margin-right: 8px;
  transition: all 0.5s ease;
}

#menu-icon {
  font-size: 32px;
  color: black;
  z-index: 10001;
  cursor: pointer;
  display: none;
}

.nav-icons i:hover {
  transform: scale(1.1);
}

section {
  padding: 70px 14% 60px;
}

.home {
  position: relative;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2rem;
}
.home-img img {
  width: 100%;
  height: auto;
}

.home-text h1 {
  font-size: var(--big-font);
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 3rem;
}

span {
  color: var(--bgreen);
}

.btn {
  display: inline-block;
  padding: 15px 35px;
  background: var(--green);
  color: var(--bgreen);
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 3rem;
  transition: all 0.5s ease;
}

.btn i {
  vertical-align: middle;
  margin-left: 9px;
  font-size: 22px;
}

.btn:hover {
  background: var(--bgreen);
  color: var(--green);
  box-shadow: var(--green) 0px 1px 25px;
}

.btn2 {
  display: inline-block;
  margin-left: 30px;
  font-size: var(--p-font);
  font-weight: 500;
  letter-spacing: 1px;
  border-bottom: 3px solid var(--bgreen);
  color: var(--bgreen);
  transition: all 0.5s ease;
}

.btn2:hover {
  transform: scale(1.1) translateX(12px);
}

header.sticky {
  padding: 12px 14%;
  background: var(--green);
}

.container {
  padding: 30px 14% 70px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  text-align: center;
}

.container-box {
  padding: 43px;
  background: white;
  border-radius: 3rem;
}

.container-box h3 {
  font-size: 21px;
  font-weight: bold;
  margin: 16px 0;
}

.container-box a {
  font-size: var(--p-font);
  letter-spacing: 1px;
  transition: all 0.5s ease;
}

.container-box a:hover {
  color: var(--bgreen);
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
}

.about-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1.3;
  margin-bottom: 2rem;
}

.about-text p {
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 3rem;
}

.middle-text {
  text-align: center;
}

.middle-text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--bgreen);
}

.middle-text h2 {
  font-size: var(--h2-font);
}

.shop-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 2rem;
  align-items: center;
  margin-top: 4rem;
}

.row {
  position: relative;
  padding: 10px 35px 40px;
  background: white;
  border-radius: 3rem;
}

.row img {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.row h3 {
  font-size: 18px;
  margin-bottom: 5px;
  font-weight: 700;
}

.row p {
  color: var(--green);
  font-size: var(--p-font);
  line-height: 30px;
  margin-bottom: 1.1rem;
}

.in-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.in-text .price h6 {
  font-size: 20px;
  color: var(--bgreen);
  font-weight: 600;
}

.in-text .s-btnn a {
  display: inline-block;
  padding: 9px 23px;
  background: var(--green);
  color: var(--bgreen);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 3rem;
  transition: all 0.5s ease;
}

.in-text .s-btnn a:hover {
  background: var(--bgreen);
  color: var(--green);
  box-shadow: var(--green) 0px 1px 25px;
}

.top-icon {
  position: absolute;
  top: 30px;
  left: 35px;
}

.top-icon i {
  font-size: 22px;
  color: var(--bgreen);
}

.contact-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.contact-text {
  text-align: center;
  margin-bottom: 4rem;
}

.contact-text h2 {
  font-size: var(--h2-font);
  margin-bottom: 10px;
}

.contact-text p {
  font-size: var(--p-font);
  max-width: 950px;
  line-height: 30px;
  margin-bottom: 3rem;
}

.details {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 3rem;
}

.main-d a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
}

.main-d i {
  vertical-align: middle;
  margin-right: 12px;
  font-size: 28px;
  color: var(--bgreen);
}

@media (max-width: 1545px) {
  header {
    padding: 22px 4%;
    transition: 0.2s;
  }

  header.sticky {
    padding: 14px 4%;
    transition: 0.2s;
  }

  section {
    padding: 50px 4% 40px;
    transition: 0.2s;
  }

  .container {
    padding: 30px 4% 50px;
  }
}

@media (max-width: 1180px) {
  :root {
    --big-font: 4.5rem;
    --h2-font: 2.2rem;
    --p-font: 15px;
  }
  .home {
    height: 85vh;
  }
}
@media (max-width: 1060px) {
  #menu-icon {
    display: initial;
  }

  .navlist {
    position: absolute;
    top: -1000px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    transition: all 0.5s ease;
    background: white;
  }

  .navlist a {
    display: block;
    padding: 0.5rem;
    margin: 1rem;
    border-left: 2px solid var(--bgreen);
  }

  .navlist.open {
    top: 100%;
  }
}
@media (max-width: 1045px) {
  :root {
    --big-font: 3.3rem;
    --h2-font: 2rem;
  }

  .home-img img {
    width: 100%;
    max-width: 490px;
    height: auto;
  }

  .about-img img {
    width: 100%;
    max-width: 490px;
    height: auto;
  }
  .home {
    height: 70vh;
  }
}
@media (max-width: 860px) {
  .home {
    grid-template-columns: 1fr;
    height: 118vh;
  }
  .home-text {
    padding-top: 60px;
  }
  .home-img {
    text-align: center;
  }
  .about {
    grid-template-columns: 1fr;
  }
  .about-img {
    text-align: center;
  }
}
@media (max-width: 520px) {
  .contact-text p {
    max-width: 100%;
  }
  .details {
    gap: 1.5rem;
  }
}
@media (max-width: 475px) {
  :root {
    --big-font: 2.8rem;
    --h2-font: 2rem;
  }
}
@media (max-width: 440x) {
  .home {
    height: 110vh;
    gap: 0.1rem;
  }
}
